{
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "useTabs": true,
  "singleQuote": false,
  "semi": true,
  "printWidth": 100
}